* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100%;
	overflow-x: hidden;
	max-height: 100vh;
	background-color: #e2c624;
}

#root {
	width: 400px;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-rows: 150px 1fr;
	height: 100vh;
	border: 2px solid #b8b39a;
}

.display-num {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #eeeeee;
	padding: 0 2rem;
}

.display-num > h1 {
	font-size: 3rem;
}

.numpad {
	display: grid;
}

.numpad > div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.numpad > div:last-child .btn:not(:last-child) {
	grid-column: span 3;
}

.numpad > div:first-child .btn:first-child {
	grid-column: span 2;
}

.btn {
	display: inline-block;
	padding: 0.8rem 1.2rem;
	font-size: 2rem;
	background-color: #fff;
	border: 1px solid #e8e8e8;
}

.btn:hover {
	background-color: rgb(231, 231, 231);
}

.btn:focus,
.btn:active {
	outline: none;
}

.btn:active {
	background-color: #9c9c9c;
}
